@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

//
// Chat messager animations
//

@keyframes chatMessageAvatarFadeInUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes chatMessageBubbleFadeInRight {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes chatMessageBubbleFadeInLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
