@import '../../styles/variables';
@import '../../styles/mixins';

.proof-file-upload-input {
  box-sizing: border-box;
  @include box-shadow;
  height: 68px;
  padding: 10px 17px;
  position: relative;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background-color: $white;
}

.prompt{
  @include roboto;
}

.icon-box {
  @include flex-centered;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: rgba($violet-200, 0.1);
  margin-right: 16px;
}

.hidden-file-input-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
  }
}
