@import '../../../../Shared/styles/forms';
@import '../../../../Shared/styles/variables';
@import '../../../../Shared/styles/mixins';

.title {
  display: none;
  @include playfair-display-bold;
}

.selected-insurance-plan-box {
  margin-bottom: 21.5px;
}

.selected-insurance-plan-box .label {
  @include roboto-bold;
  font-size: 12px;
  color: $text-color-secondary;
  letter-spacing: 1.71px;
  margin-bottom: 17.5px;
  text-transform: uppercase;
  display: block;
}

/*
 * Plan detail labels
 */

.plan-details {
  margin-top: 27px;
  margin-bottom: 23px;
}

.plan-detail {
  height: 48px;
  padding-left: 22px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(#e2e2e2, 0.25);
  border-radius: 10px;
}

.plan-detail:not(:last-child) {
  margin-bottom: 13px;
}

.plan-detail-label {
  @include roboto;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 8px;
}

.plan-detail-value {
  @include roboto-medium;
  @include overflow-ellipsis;
  font-size: 15px;
  text-align: right;
}

/*
 * On mobile devices, prompt user to take picture with camera, and
 * hide the <input type="file" /> element */
.license-file-upload-input {
  display: none;
}

/*
 * If device does not have a camera, however, then display the
 * file upload input instead: */
.enrollment-review-form-box:not(.camera-supported) {
  .license-file-upload-input {
    display: block;
  }
  .license-photo-control {
    display: none;
  }
}

@include for-tablet-landscape-up {
  .enrollment-review-form-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enrollment-review-form-box form > *:not(.form-navigation-box) {
    width: 100%;
  }

  .form-navigation-box {
    width: 600px;
    margin-top: 227px;
  }

  .title {
    display: block;
    text-align: center;
  }

  /*
   * For desktop-width viewports, prompt user to upload an image file
   * of the license instead of taking a picture: */
  .license-file-upload-input {
    display: block;
  }

  .license-photo-control {
    display: none;
  }
}
