@import '../../../../Shared/styles/variables';
@import '../../../../Shared/styles/mixins';
@import '../../../../Shared/styles/forms';

.title {
  display: none;
  @include playfair-display-bold;
}

.form-navigation-box {
  display: none;
  margin-top: 313px;
}

.zipcode-input-box {
  position: relative;
}

.location-label-box {
  position: absolute;
  top: calc(50% + 3px);
  right: 11px;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.location-label {
  @include overflow-ellipsis;
  padding-left: 72px;
  color: $text-color-secondary;
  text-align: right;
}

.spinner {
  width: 22px;
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@include for-tablet-landscape-up {
  .title {
    display: block;
    font-size: 35px;
    text-align: center;
    margin-bottom: 29px;
    width: max-content;
    padding: 0 48px;
  }

  .form-navigation-box {
    display: block;
  }

  /*
   * move form up if the step indicator is hidden */
  .enrollment-type-form-box.step-indicator-hidden {
    margin-top: -101.5px;
  }
}

@keyframes rotate {
  from { transform: rotateZ(0); }
  to   { transform: rotateZ(360deg); }
}
