@import '../../../../Shared/styles/variables';
@import '../../../../Shared/styles/mixins';

.proof-photo-card {
  box-sizing: border-box;
  @include box-shadow;
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  padding: 6px 0 6px 11px;
  height: 68px;
  width: 100%;
}

.thumbnail-box,
.delete-btn,
.menu-btn {
  flex-shrink: 0;
}

.thumbnail-box {
  @include flex-centered;
  width: 60px;
  height: 100%;
  margin-right: 12px;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.text-box {
  flex-grow: 2;
}

.title {
  margin: 0;
  @include roboto;
  font-size: 16px;
}

.date {
  @include roboto;
  font-size: 14px;
  color: $text-color-secondary;
}

.delete-btn,
.menu-btn {
  /* reset css */
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include flex-centered;
  width: 44px;
  height: 100%;
}

/*
 * "Flat" styled card */
.proof-photo-card.flat-style {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e7f0f2;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  height: 82px;
}
